In [2]:
import pandas as pd

/tmp/ipykernel_3614/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [10]:
accidents = pd.read_csv('./data/Accidents.txt', sep='\t', encoding = "ISO-8859-1")

In [13]:
accidents.head()

,AccidentId,Gravity,Date,Hour,Light,Department,Commune,InAgglomeration,IntersectionType,Weather,CollisionType,PostalAddress
0,201800000001,NonLethal,2018-01-24,15:05:00,Daylight,590,5,No,Y-type,Normal,2Vehicles-BehindVehicles-Frontal,route des Ansereuilles
1,201800000002,NonLethal,2018-02-12,10:15:00,Daylight,590,11,Yes,Square,VeryGood,NoCollision,Place du général de Gaul
2,201800000003,NonLethal,2018-03-04,11:35:00,Daylight,590,477,Yes,T-type,Normal,NoCollision,Rue nationale
3,201800000004,NonLethal,2018-05-05,17:35:00,Daylight,590,52,Yes,NoIntersection,VeryGood,2Vehicles-Side,30 rue Jules Guesde
4,201800000005,NonLethal,2018-06-26,16:05:00,Daylight,590,477,Yes,NoIntersection,Normal,2Vehicles-Side,72 rue Victor Hugo

In [14]:
users = pd.read_csv('./data/Users.txt', sep='\t', encoding = "ISO-8859-1")

In [19]:
users.head()

,AccidentId,VehicleId,Seat,Category,Gravity,Gender,TripReason,SafetyDevice,SafetyDeviceUsed,PedestrianLocation,PedestrianAction,PedestrianCompany,BirthYear
0,201800000001,A01,1.0,Driver,Unscathed,Male,Leisure,SeatBelt,Yes,NaN,NaN,Unknown,1960.0
1,201800000001,B01,1.0,Driver,InjuredAndHospitalized,Male,NaN,SeatBelt,Yes,NaN,NaN,Unknown,1928.0
2,201800000002,A01,1.0,Driver,Unscathed,Male,NaN,SeatBelt,Yes,NaN,NaN,Unknown,1947.0
3,201800000002,A01,NaN,Pedestrian,MildlyInjured,Male,NaN,Helmet,NaN,OnLane<=OnSidewalk0mCrossing,Crossing,Alone,1959.0
4,201800000003,A01,1.0,Driver,InjuredAndHospitalized,Male,Leisure,Helmet,Yes,NaN,NaN,Unknown,1987.0

In [18]:
users.describe(include='all')

,AccidentId,VehicleId,Seat,Category,Gravity,Gender,TripReason,SafetyDevice,SafetyDeviceUsed,PedestrianLocation,PedestrianAction,PedestrianCompany,BirthYear
count,1.301690e+05,130169,119209.000000,130169,130169,130169,101713,126040,116075,10043,10303,75523,130139.000000
unique,NaN,26,NaN,3,4,2,6,5,3,8,7,4,NaN
top,NaN,A01,NaN,Driver,Unscathed,Male,Leisure,SeatBelt,Yes,OnCrossingWithLigths,Crossing,Unknown,NaN
freq,NaN,78770,NaN,96025,54248,88218,52671,85845,103314,3225,7928,65020,NaN
mean,2.018000e+11,NaN,1.444388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1979.347167
std,1.670913e+04,NaN,1.313743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.857676
min,2.018000e+11,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1911.000000
25%,2.018000e+11,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1966.000000
50%,2.018000e+11,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1982.000000
75%,2.018000e+11,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1994.000000
max,2.018001e+11,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.000000